@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Asap", sans-serif;
  font-size: 20px;
  background-image: url("./bi.jpg");
  background-repeat: round;
}
input:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 7vw;
  /*color: white;*/
}
main {
  box-shadow: 0px 10px 20px grey;
  border: 0.1px solid rgb(231, 231, 231);
  padding: 5vmax;
  border-radius: 20px;
  background: white;
}
.input-fields {
  display: flex;
  flex-direction: column;
  padding: 2vh 0;
}
.input-fields * {
  display: flex;
  flex-direction: column;
  padding: 0.5vh 0.5vw;
}
.input-fields input {
  border-radius: 5px;
  border: 1px solid grey;
  transition: 0.25s;
}
.input-fields input:hover,
.input-fields input:focus {
  background-color: whitesmoke;
}
.input-fields label {
  line-height: 40px;
}
.fieldsets {
  display: flex;
  flex-direction: column;
  margin: 2vh 0;
}
fieldset {
  display: block;
  padding: 3vh 3vw;
  border: 1px solid grey;
}
label[for="fbbox"] {
  display: flex;
  flex-direction: column;
  padding: 3vh 0;
}
#fbbox {
  height: 70px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid grey;
  transition: 0.25s;
  margin: 20px 0;
}
#fbbox:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}
#submit {
  margin: auto;
  padding: auto;
  width: 100%;
  height: 30px;
}
